

body {
    background-color: black;
}

header {
	background-color: grey;
	padding-top: 25px;
	padding-bottom: 25px;
    color: white;
    text-align: center;
   	background-image: url("../source/blackwood1.png");
}

h1{
	font-family: "Times New Roman";
	font-style: italic;
	font-size: 40px;
}

h4{
	text-align: center;
}

footer {
	background-color: grey;
	padding-top: 30px;
	padding-bottom: 30px;
	color: black;
	background-image: url("../source/blackwood1.png");

}

.linkFooter{
	align-text=center;
  font-size: 25px;
  color: white;
  margin-left: 25px;
}

.homelink{
	text-align: right;
  font-size: 25px;
  color: white;
  margin-right: 25px;
}


p {
	margin-left: 512px;
	font-size: 25px;
	font-family: "Times New Roman";
}

.btn{
	background-color: black;
	color: white;
	position: absolute;
	top: -17px;
	right: 50px;
}

.btn1{
	background-color: #A9A9A9;
	color: black;
	width: 100px;
	height: 35px;
	text-align: center;

}


.dropdown-menu{
	position: absolute;
	left: 1140px;
}

.btn-group-vertical{
	text-align: center;

}

#menu{
	background-color: #BEBEBE;
	padding-top: 10px;
    color: black;
    font: Verdana;
	font-size: medium;
    text-align: left;
    margin: 10px;
}


.nav-pills.centered > li{
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
	background: white;
	margin: 2px;
}

.nav-pills.centered > li > a:hover, .nav-pills.centered > li > a:focus {
	color: #000;  /*Sets the text hover color on navbar*/
}

.nav-pills.centered > .active > a, .nav-pills.centered > .active >
  a:hover, .nav-pills.centered > .active > a:focus {
	color: black; /*BACKGROUND color for active*/
	background-color: white;
}

.nav-pills.centered {
    text-align:center;
}

.textBox{
	width: 100px;
	height: 30px;
	text-align: center;
	border-width: 3px;
	border-color: black;
}

.btnEditPage{
  position: absolute;
  left: 50%;
}

.navbar-collapse,navbar-static-top,navbar-default,navbar-header,navbar-brand,nav navbar-nav navbar-right,container{
  background-color: black;
	color: white;
  padding-right: 0px;
padding-left: 0px;
}

.navbar-default {
    background-color: black;
    color: white;

}

.navbar-default .navbar-brand {
    color: white;
}


canvas {
	overflow: auto;
    margin: 50px;
}
